<div class="login-container" style="background-image: url('assets/img/fondologin.png');">
    <div class="logo">
      <img src="./favicon.ico" alt="Serene Escapes">
    </div>
    <h1 >Desbloquea un mundo sin fin en los videojuegos.</h1>
    <p>Únete para descubrir, jugar y divertirte!</p>
    <form>
      <h1>Recuperar Contraseña </h1>
      <div class="form-group">
        <input type="email" placeholder="Email" />
      </div>
      <button type="submit" routerLink="/change">Enviar Correo</button>
    </form>
    <p class="game-gear-text">¿Ya tienes una cuenta? <a href="#" routerLink="/login">Iniciar Sesion</a></p>
    <p class="game-gear-text">¿No te llego el correo? <a href="#" routerLink="/resend">Reenviar</a></p>

  </div>
  