<div style="background-color: #171a1f;; padding: 20px;">
  <h2 style="color: white; text-align: left;">Listas</h2>
  <div class="ver-todos-container" style="text-align: right;">
    <a routerLink="/listas" class="ver-todos">Ver todos</a>
  </div>
  <div class="game-categories">
    <div class="category-row">
      <div class="category">
        <img src="assets/img/civi.png" alt="Juegos chill">
        <h4>Juegos chill</h4>
        <div class="category-owner">
          <img src="assets/img/avatar1.jpg" alt="Bryan Araujo">
          <span>Bryan Araujo</span>
        </div>
      </div>
      <div class="category">
        <img src="assets/img/phasmo.jpg" alt="Juegos de terror">
        <h4>Juegos de terror</h4>
        <div class="category-owner">
          <img src="assets/img/avatar2.jpg" alt="Brandon Muro">
          <span>Brandon Muro</span>
        </div>
      </div>
      <div class="category">
        <img src="assets/img/cod.jpg" alt="Juegos de disparos">
        <h4>Juegos de disparos</h4>
        <div class="category-owner">
          <img src="assets/img/avatar3.jpg" alt="Yahir Gonzalez">
          <span>Yahir Gonzalez</span>
        </div>
      </div>
      <div class="category">
        <img src="assets/img/persona 5.jpg" alt="Juegos de persona">
        <h4>Juegos de persona</h4>
        <div class="category-owner">
          <img src="assets/img/avatar4.jpg" alt="Oscar Sanchez">
          <span>Oscar Sanchez</span>
        </div>
      </div>
    </div>
  </div>
</div>
