<header>
    <div class="header-left">
        <a href="#"><img src="./favicon.ico" alt="Gamer"></a>
        <section class="subscribe">
            <h2 style="color: white;">Suscríbete a nuestra plataforma</h2>
            <input type="text" placeholder="Correo electrónico">
        </section>
    </div>
    <div class="text-container">
        <p style="color: white;">Descubre la plataforma líder en digital para los aficionados a los videojuegos. Ofreciendo un espacio integral para gestionar y explorar tus listas de juegos pendientes. Con una trayectoria consolidada, esta web te brinda información detallada y actualizada sobre los últimos lanzamientos y títulos imperdibles. Desde análisis exhaustivos hasta recomendaciones personalizadas, nuestro equipo se dedica a enriquecer tu experiencia de juego, convirtiéndose en tu guía imprescindible en el mundo de los videojuegos, con una creciente comunidad de usuarios activos cada mes.</p>
    </div>
</header>
<div class="buttons">
    <div class="button-column">
        <a href="#">ACERCA</a>
        <a href="#">PREGUNTAS</a>
    </div>
    <div class="button-column">
        <a href="#">JUEGOS</a>
        <a href="#">REQUERIMIENTOS</a>
        <a href="#">NOTICIAS</a>
    </div>
    <div class="button-column">
        <a href="#">COMUNIDAD</a>
        <a href="#">LISTAS</a>
        <a href="#">RATING</a>
        <a href="#">JUEGOS</a>
    </div>
    <div class="button-column">
        <a href="#">TIENDA</a>
    </div>
</div>
