<div class="login-container" style="background-image: url('assets/img/fondologin.png');">
  <div class="logo">
    <img src="./favicon.ico" alt="Serene Escapes">
  </div>
  <h1>Desbloquea un mundo sin fin en los videojuegos.</h1>
  <p>Únete para descubrir, jugar y divertirte!</p>
  <form>
    <h1>Registrate</h1>
    <div class="form-group">
      <input type="Nombre" placeholder="Name" />
    </div>
    <div class="form-group">
      <input type="email" placeholder="Email" />
    </div>
    <div class="form-group">
      <input type="password" placeholder="Contraseña" />
    </div>
    <button type="submit" routerLink="/login">Registrarte</button>
  </form>
  <p class="game-gear-text" >¿Ya tienes Cuenta? <a href="#" routerLink="/login">Iniciar Sesion</a></p>
</div>
