<div class="login-container" style="background-image: url('assets/img/fondologin.png');">
  <div class="logo">
    <img src="./favicon.ico" alt="Serene Escapes">
  </div>
  <h1 >Desbloquea un mundo sin fin en los videojuegos.</h1>
  <p>Únete para descubrir, jugar y divertirte!</p>
  <form>
    <h1>Iniciar Sesion</h1>
    <div class="form-group">
      <input type="email" placeholder="Email" />
    </div>
    <div class="form-group">
      <input type="password" placeholder="Contraseña" />
    </div>
    <a href="#" routerLink="/recover">Olvidaste tu contraseña</a>
    <button type="submit" routerLink="/inicio">Iniciar sesión</button>
  </form>
  <p class="game-gear-text">¿Eres nuevo en Game Gear System? <a href="#" routerLink="/register">Regístrate</a></p>
</div>
