<div class="game-comments">
  <div class="main-image">
      <h2 style="color: white; text-align: left;">Comentarios</h2>
      <h2 style="color: white; text-align: left;">de juegos</h2>
    <img src="assets/img/cod.jpg" alt="Warzone">
    <div class="main-description">
      <h3 style="color: black;">Call of Duty: Warzone</h3>
      <p style="color: black;">Vivamos la experiencia de supervivencia en un campo de batalla épico y estratégico.</p>
    </div>
  </div>
  <div class="sidebar">

    <div class="game-comment">
      <img src="assets/img/fifa.jpg" alt="Fifa 24">
      <div class="comment-text">
        <h3 style="color: black;">Fifa 24</h3>
        <p style="color: black; text-align: justify;">Serie de videojuegos de simulación de fútbol con actualizaciones anuales de equipos y competiciones, destacándose por su realismo y licencias oficiales.</p>
      </div>
    </div>

    <div class="game-comment">
      <img src="assets/img/warframe.png" alt="Warframe">
      <div class="comment-text" >
        <h3 style="color: black;">Warframe</h3>
        <p style="color: black; text-align: justify;" >Shooter en tercera persona free-to-play donde los jugadores controlan a los Tenno, antiguos guerreros con trajes de armadura avanzada, en misiones cooperativas y enfrentamientos contra enemigos en un sistema solar en guerra.</p>
      </div>
    </div>

    <div class="game-comment">
      <img src="assets/img/valorant.jpg" alt="Valorant">
      <div class="comment-text">
        <h3 style="color: black;">Valorant</h3>
        <p style="color: black; text-align: justify;">Shooter táctico en primera persona donde dos equipos de cinco jugadores compiten en partidas estratégicas, seleccionando agentes con habilidades únicas para atacar o defender, destacándose por su enfoque en la precisión y el trabajo en equipo.</p>
      </div>
    </div>
  </div>
</div>
