<div class="game-comments">
  <div class="main-image">
      <h2 style="color: white; text-align: left;">Comentarios de juegos</h2>
    <img src="assets/img/cod.jpg" alt="Warzone">
    <div class="main-description">
      <h3 style="color: black;">Call of Duty: Warzone</h3>
      <p style="color: black;">Vivamos la experiencia de supervivencia en un campo de batalla épico y estratégico.</p>
    </div>
  </div>
  <div class="sidebar">
    <div class="game-comment">
      <img src="assets/img/fifa.jpg" alt="Fifa 24">
      <div class="comment-text">
        <h3>Fifa 24</h3>
        <p>Juego de futbol.</p>
      </div>
    </div>
    <div class="game-comment">
      <img src="assets/img/warframe.png" alt="Warframe">
      <div class="comment-text">
        <h3>Warframe</h3>
        <p>Descripcion del juego.</p>
      </div>
    </div>
    <div class="game-comment">
      <img src="assets/img/valorant.jpg" alt="Valorant">
      <div class="comment-text">
        <h3>Valorant</h3>
        <p>Descripción del tercer juego.</p>
      </div>
    </div>
  </div>
</div>
